# Example .env file
PORT=3000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/schedule-app-database?retryWrites=true&w=majority
JWT_SECRET=your-secure-jwt-secret
CORS_ALLOWED_ORIGINS=https://calendariocoliseu.site
